/* Pre */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Remove list item styles */
ul,
ol {
  list-style: none;
}

/* Remove link underlines and hover effects */
a {
  text-decoration: none;
  color: inherit;
}

/* Remove default form element styles  */
input,
button,
select,
textarea {
  border: 1px solid #ccc;
  font: inherit;
  padding: 5px;
}

/* variables */

:root {
  --redish: #A0382F;
  --blueish: #AEB4BC;
  --yellowish: #fff1a8c9;
  --font_para: 'Montserrat Black';

}

/* Animation Keyframe */

html {
  scroll-behavior: smooth;
}

@keyframes bgcolorChange {
  0% { background-color: var(--redish) }
  50% {background-color: var(--blueish); }
  100% { background-color: var(--yellowish); }
}
@keyframes colorChange {
  0% { bacolor: var(--redish) }
  50% {color: var(--blueish); }
  100% { color: var(--yellowish); }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  /* Start at top position */
  50% {
    transform: translateY(-10px);
  }

  /* Move down 10px at midpoint */
  100% {
    transform: translateY(0);
  }

  /* Return to starting position */
}

/* Hero section styling */

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #1f1f1f;
  color: white;
}

/* Navigation bar styling */
nav {
  display: flex;
  justify-content: space-between;
  margin: auto;
  align-items: center;
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(10px);
  padding: 1rem 2rem;
  margin-top: 24px;
  margin-left: 110px;
  margin-right: 110px;
  margin-bottom: 10px;
  border-radius: 40px;
  background-color: var(--yellowish);
  position: fixed;
  top: 0;
  left: 0;
  width: 80%;
  z-index: 100;
}

.logo {
  flex-grow: 0;
  font-family: 'Montserrat Black';
  font-size: 30px;
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-left: 30px;
  font-family: 'Montserrat';
}

.nav-links li {
  margin-right: 1rem;
}

section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 120px;
  width: 85%;
}

.hero_sec {
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 85%;
}

.hero_text {
  margin-top: 100px;
  margin-left: 40px;
}

h1 {
  font-family: 'Montserrat Black';
  font-size: 84px;
}

p {
  margin: 15px 0px;
  font-family: 'Montserrat regular';
  font-size: 35px;
  font-weight: 10000;
}

img {
  max-width: 706px;
  max-height: 706px;
}

.hero_img {
  animation: bounce 2s ease-in-out infinite;
  border-width: 10px;
  border-color: aliceblue;
  transition: 1s;
}

.hero_img:hover {
  animation: bounce 0.7s ease-in-out infinite;
}

.subheading {
  font-family: 'Montserrat Black';
  color: var(--redish);
}

button {
  color: aliceblue;
  font-family: var(--font_para);
  margin: 15px 16px 0px 0px;
  width: 200px;
  font-size: 32px;
  border-radius: 10px;
  transition: 200ms;
}


.main_btn {
  background-color: var(--redish);
  border-width: 0px;
}

.sub_btn {
  background-color: #00000000;
  border-color: var(--redish);
  color: #ffffff;
  border-width: medium;
}

button:hover {
  background-color: var(--yellowish);
  width: 230px;
  height: 57px;
  transition: 300ms;
  color: #000000;
  border-color: #00000000;
}

button:active {
  background-color: var(--redish);
  color: wheat;
}



/* scroll bar*/

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f100;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 80px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--redish);
}

/* 2 Section*/

h2 {
  border-top: var(--yellowish) dashed 1px;
  padding-top: 24px;
  font-family: "Montserrat black";
  font-size: 50px;
  text-align: center;
}

.works {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  
}

.card {
  /* Add shadows to create the "card" effect */
  background-color: #272727;
  transition: 1s;
  border-radius: 10px;
  margin: 10px;
  width: 30%;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  justify-content: center;
  width: 35%;

}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}






/* Footer */

.footer_cont{
  padding: 40px 108px;
  background: linear-gradient( 286deg, var(--yellowish) 12%,  var(--redish) 90% );
  margin: 60px;
  border-radius: 32px;
}

.footer_sec {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

.footer_head {
  border: 0px;
  text-align: left;
}

.footer_desc {
  max-width: 451px;
  align-items: left;
}

.btn {
  background-color: #212700;
  padding: 10px;
  width: 180px;
  border-radius: 40px;
  text-align: center;
}

.btn :hover {
  animation: colorChange 1s ease-in-out infinite alternate;
}

.btn a:first-child {
  color: white;
}

.animationed {
  animation: colorChange 2s ease-in-out infinite alternate;
  font-family: "Montserrat";
  font-weight: bold;

}

.footer_nav {
  padding: 20px 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer_nav samp{
  font-size: 32px;
  font-family: 'Montserrat';
  font-weight: bold;
}

.Social_icons {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  margin: 10px;
  padding: 0px;
  gap: 10px;
}



/* Responsive Element*/

@media (max-width: 1000px) {
  .hero_sec {
    margin: 10px;
    flex-direction: column;
  }

  .hero_text {
    align-items: center;
  }
}

/* Link styling */
a {
  text-decoration: none;
  color: #001e3b;
  font-weight: bold;
}

a:hover {
  color: #000000;
  transition: 1000ms;
}